// Custom own style
// ----------------

$main-color: #6f42c1;

// Own variables
$main-color-lighted: tint-color($main-color, 75%);
$main-grey: #555555;
$main-grey-lighted: #adb5bd;

$card-titles: (
  title: (
    font-size: 1.4rem,
    color: $main-color
  ),
  subtitle: (
    font-size: 0.8rem,
    color: $main-grey-lighted
  )
);

$list-group-own-active-color: $main-color;
$list-group-own-active-bg: tint-color($main-color-lighted, 25%);


// Bootstrap variables 
$font-family-sans-serif: "Lato", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$nav-pills-link-active-bg: $main-color;
$nav-pills-link-hover-bg: $main-color-lighted;


